<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.0.xsd
           http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-2.0.xsd
           http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-2.0.xsd">
	
	
	<bean id="manageAction" class="renshi.action.ManageAction" scope="prototype">

		<property name="userDao"><ref bean="userDao" /></property>
		<property name="bumenDao"><ref bean="bumenDao" /></property>
		<property name="hetongDao"><ref bean="hetongDao" /></property>
		<property name="jiabanDao"><ref bean="jiabanDao" /></property>
		<property name="qingjiaDao"><ref bean="qingjiaDao" /></property>
		<property name="kaoqinDao"><ref bean="kaoqinDao" /></property>
		<property name="jiangjinDao"><ref bean="jiangjinDao" /></property>
		<property name="gongziDao"><ref bean="gongziDao" /></property>
		
		
	</bean>
	
	
	
	
	
</beans>
